<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/head/head}">
  <title>Login</title>
</head>
<header th:replace="~{header/headerOne}"></header>
<body class="topspace">
<div class="message">
  <div th:if="${param.error}" class="notiDiv">
    <b>Invalid username and password!</b>
  </div>
  <div th:if="${param.logout}" class="notiDiv">
    <b>You have been logged out!</b>
  </div>
</div>
<div class="loginScreenBox">
  <div class="loginScreen">
    <form th:action="@{/login}" method="post">
      <h1>Wellcome</h1>
      <br>
      <div><label>User Name</label></div>
      <input type="text" name="username"/>
      <div><label>Password</label></div>
      <input type="password" name="password"/>

      <div><br><input type="submit" value="Sign In"/></div>
      <p>Don't have an account?<a th:href="@{/register}">Just do it Here!</a></p>
    </form>

  </div>
</div>
</body>
<footer th:replace="~{footer/footerOne}"></footer>
</html>