<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head/head}">
</head>
<body>
<nav th:replace="~{/fragments/header/nav/navOne}"></nav>

<div th:if="${regSuccess != null || param.error != null}" class="toast-container position-fixed bottom-0 end-0 p-3 notiDiv">
  <div class="container-fluid bg-primary rounded">
    <div class="toast-header">
      <strong class="me-auto">Server Message!</strong>
    </div>
    <div class="toast-body" th:text="${regSuccess}">
      Check if all fiels are correct!
    </div>
  </div>
</div>


<div th:if="${param.logout}" class="toast-container position-fixed bottom-0 end-0 p-3 notiDiv">
  <div class="container-fluid bg-primary rounded text-light">
    <div class="toast-header">
      <strong class="me-auto">Logout!</strong>
      <small>11 mins ago</small>
    </div>
    <div class="toast-body">
      Has cerrado la session!
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5" id="form1">
        <form th:action="@{/login}" method="post" class="form-data">
          <h1>Wellcome</h1>
          <br>
          <div class="mb-3">
            <span>Email</span>
            <input autocomplete="false" type="email" name="email" id="form12" class="form-control"/>
          </div>
          <div class="mb-3">
            <span>Password</span>
            <input autocomplete="false" type="password" name="password" id="formPass" class="form-control"/>
          </div>
          <div class="mb-3">
            <button type="submit" value="Sign In" class="btn btn-dark w-100">Login</button>
          </div>
          <p class="text-center">Don't have an account?<a th:href="@{/register}">Just do it Here!</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
<footer th:replace="~{/fragments/footer/footerOne}"></footer>
</html>