<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/head/head}">
  <title>Login</title>
</head>
<header th:replace="~{header/headerOne}"></header>
<body class="topspace">
<div th:if="${param.error}">
  Invalid username and password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>
<div class="loginScreenBox">
  <div class="loginScreen">
    <form th:action="@{/login}" method="post">
      <h1>Wellcome</h1>
      <br>
      <div><label>User Name</label></div>
      <input type="text" name="username"/>
      <div><label>Password</label></div>
      <input type="password" name="password"/>

      <div><br><input type="submit" value="Sign In"/></div>
    </form>
  </div>
</div>
</body>
</html>