<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head/head}">
</head>
<header th:replace="~{/fragments/header/headerOne}"></header>
<body class="topspace">
<div class="screenBox">
  <div class="registerBox">
      <form th:action="@{/process_register}" method="post" th:object="${user}">
          <h1>register</h1>
          <br>
          <div><label>First Name</label></div>
          <input type="text" name="nombre" />
          <div><label>Last Name</label></div>
          <input type="text" name="apellido"/>
          <div><label>E-Mail</label></div>
          <input type="email" name="email"/>
          <div><label>Birth date</label></div>
          <input type="date" name="fechaNacimiento"/>
          <div><label>Password</label></div>
          <input type="password" name="password"/>
          <div><label>region</label></div>
          <select name="region">
              <option th:each="region : ${regiones}" th:value="${region.idRegion}" th:text="${region.nombre}"></option>
          </select>

          <div><br><input type="submit" value="Register"/></div>
      </form>
  </div>
</div>
</body>
</html>