<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head/head}" />
<body>
<nav th:replace="~{/fragments/header/nav/navUser}"></nav>

<div th:if="${Message != null}" class="toast-container position-fixed bottom-0 end-0 p-3 notiDiv">
    <div class="container-fluid bg-primary rounded">
        <div class="toast-header">
            <strong class="me-auto">Server Message!</strong>
        </div>
        <div class="toast-body" th:text="${Message}">
            Check if all fiels are correct!
        </div>
    </div>
</div>

<div class="d-flex flex-row justify-content-center gap-3 mt-5 mb-3">
    <div class="card w-50">
        <div class="card-header text-center">
            User data
        </div>
        <div class="card-body">
            <table class="table ">
                <tbody>
                <tr>
                    <th scope="row">User Full Name</th>
                    <td th:text="${user.nombre}+' '+${user.apellido}">nombre</td>
                </tr>
                <tr>
                    <th scope="row">User Email</th>
                    <td th:text="${user.email}">nombre</td>
                </tr>
                <tr>
                    <th scope="row">Birthday</th>
                    <td th:text="${user.fechaNacimiento}">nombre</td>
                </tr>
                <tr>
                    <th scope="row">User Role</th>
                    <td th:text="${user.role}">nombre</td>
                </tr>
                <tr>
                    <th scope="row">Change Password</th>
                    <td th:text="${user.role}">nombre</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center gap-3 flex-wrap ">
        <div th:if="${favList ==null}"><h1>No tienes ninguna Lista de Favoritos!</h1></div>

        <div class="card" th:if="${favList!=null}">
            <div class="card-header">
                <h1 th:text="${favList.nombre}">Nombre Fav</h1>
            </div>
            <div class="card-body">
                <table class="table ">
                    <thead>
                    <tr>
                        <th scope="row">Product Name</th>
                        <th scope="row">Product Link</th>
                        <th scope="row">Remove from Favorite List</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product : ${favList.getProductlist().stream().toList()}">
                            <td th:text="${product.nombre}">nombre</td>
                            <td><a class="btn btn-outline-dark" th:href="@{/product/{id}(id=${product.idProductos})}"> To the product</a><td>
                                <form th:action="@{/removeFav}" method="post" class="text-center">
                                    <input type="hidden" name="idP" th:value="${product.idProductos}">
                                    <button class="btn btn-outline-dark" type="submit"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                                </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="card" th:if="${favList==null}">
    <div class="card-header">
        Add A favorite List!
    </div>
    <div class="card-body">
        <form th:action="@{/addListaFav}" method="post" th:object="${listaFav}">
            <input type="text" name="nombre" />
            <button type="submit" class="btn btn-outline-dark">Add new Fav list</button>
        </form>
    </div>
</div>
<hr class="userPerfilHR">

</body>
</html>