<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head/head}" />
<body>
<nav th:replace="~{/fragments/header/nav/navUser}"></nav>

<div th:if="${Message != null}" class="toast-container position-fixed bottom-0 end-0 p-3 notiDiv">
    <div class="container-fluid bg-primary rounded">
        <div class="toast-header">
            <strong class="me-auto">Server Message!</strong>
        </div>
        <div class="toast-body" th:text="${Message}">
            Check if all fiels are correct!
        </div>
    </div>
</div>

<div class="d-flex flex-row flex-wrap justify-content-center gap-5 mt-5 mb-3">
    <div class="d-flex flex-row justify-content-center gap-3 flex-wrap ">
        <div class="card">
            <div class="card-header text-center">
                User data
            </div>
            <div class="card-body">
                <table class="table ">
                    <tbody>
                    <tr>
                        <th scope="row">Full Name</th>
                        <td th:text="${user.nombre}+' '+${user.apellido}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td th:text="${user.email}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Birthday</th>
                        <td th:text="${user.fechaNacimiento}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td th:text="${user.role}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Change Password</th>
                        <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" th:data-bs-target="'#'+${user.idUsuario} + 'ME'">Edit your Account!</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center gap-3 flex-wrap ">

        <div class="card" th:if="${favList!=null}">
            <div class="card-header">
                <h1 th:text="${favList.nombre}">Nombre Fav</h1>
            </div>
            <div class="card-body">
                <table class="table ">
                    <thead>
                    <tr>
                        <th scope="row">Product Name</th>
                        <th scope="row">Product Link</th>
                        <th scope="row">Remove from List</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product : ${favList.getProductlist().stream().toList()}">
                            <td th:text="${product.nombre}">nombre</td>
                            <td><a class="btn btn-outline-dark" th:href="@{/product/{id}(id=${product.idProductos})}"> To the product</a><td>
                                <form th:action="@{/removeFav}" method="post" class="text-center">
                                    <input type="hidden" name="idP" th:value="${product.idProductos}">
                                    <button class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-heart-crack"></i></button>
                                </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" th:if="${favList==null}">
            <div class="card-header">
                Add A favorite List!
            </div>
            <h1>No tienes ninguna Lista de Favoritos!</h1>
            <div class="card-body">
                <form th:action="@{/addListaFav}" method="post" th:object="${listaFav}">
                    <input type="text" name="nombre" class="form-control"/>
                    <button type="submit" class="btn btn-outline-dark">Add new Fav list</button>
                </form>
            </div>
        </div>
    </div>

</div>
<hr class="userPerfilHR">


<div class="modal fade" tabindex="-1" th:id="${user.idUsuario}+'ME'" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/profile/useredit}" method="post" th:object="${userEdit}" class="form-data">
                    <div class="mb-3">
                        <input type="hidden" th:value="${user.idUsuario}" name="idUsuario">
                        <input type="hidden" th:value="${user.role}" name="role">
                        <input type="hidden" th:value="${user.accountActive}" name="accountActive">
                        <div class="mb-3">
                            <span>Firstname</span>
                            <input type="text" name="nombre" class="form-control" th:value="${user.nombre}"/>
                        </div>
                        <div class="mb-3">
                            <span>Lastname</span>
                            <input type="text" name="apellido" class="form-control" th:value="${user.apellido}"/>
                        </div>
                        <div class="mb-3">
                            <span>E-mail</span>
                            <input type="email" name="email" class="form-control" th:value="${user.email}"/>
                        </div>
                        <div class="mb-3">
                            <span>Password</span>
                            <input type="password" name="password" class="form-control" th:value="${user.password}" />
                        </div>

                        <div class="mb-3">
                            <span>Birthday</span>
                            <input type="date" name="fechaNacimiento" class="form-control" th:value="${user.fechaNacimiento}" />
                        </div>

                        <div class="mb-3">
                            <span>Region</span>
                            <select name="region" class="form-select">
                                <option th:value="${user.region.idRegion}" th:text="${user.region.nombre}"></option>
                                <option th:each="regione : ${regiones}" th:if="${user.region.idRegion != regione.idRegion}" th:value="${regione.idRegion}" th:text="${regione.nombre}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" value="edit" class="btn btn-dark w-100 mt-5">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>