<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head/head}"></head>
<body>
<nav th:replace="~{/fragments/header/nav/navUser}"></nav>
<div th:if="${Message != null || param.error != null}" class="toast-container position-fixed bottom-0 end-0 p-3 notiDiv">
    <div class="container-fluid bg-primary rounded">
        <div class="toast-header">
            <strong class="me-auto">Server Message!</strong>
        </div>
        <div class="toast-body" th:text="${Message}">
            Check if all fiels are correct!
        </div>
    </div>
</div>

<div class="d-flex flex-column justify-content-center gap-2 mt-5 px-5">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModallistRedAdd">Add Sale Change</button>


    <div class="d-flex flex-row justify-content-end">
        <form method="get" class="form-data" th:action="@{/intranet/saleChangeList}">
            <input type="hidden" th:value="5" name="size">
            <input type="hidden" th:value="1" name="page">
            <input class="form-control me-2" type="search" placeholder="Search" name="searchKey" th:value="${searchKey}">
            <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center table-responsive mt-5 px-lg-5">
    <table class="table  table-striped table-bordered table-hover">
        <thead class="thead-dark text-center">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Release Price</th>
            <th scope="col">Product Sale price</th>
            <th scope="col">Date of change</th>
            <th scope="col"><i class="fa-solid fa-percent"></i></th>
            <th scope="col">Celling Website</th>
            <th scope="col">Edit Website</th>
            <th scope="col">Delete Website</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="listRed : ${listRedPage.content}">
            <th scope="row" class="text-center" th:text="${listRed.idListaRebajas}">ID</th>
            <td th:text="${listRed.productos.nombre}">nombre</td>
            <td class="text-center" th:text="${listRed.productos.precioSalida}+'€'">apellido</td>
            <td class="text-center" th:text="${listRed.precioRebajas}+'€'">Correo</td>
            <td th:text="${listRed.fechaCambio}">Correo</td>
            <td class="text-center" th:text="${listRed.percentageRebajas}+'%'">Cumple</td>
            <td th:text="${listRed.sellingwebsite.nombre}">region</td>
            <td class="text-center"><button type="button" class="btn btn-warning" data-bs-toggle="modal" th:data-bs-target="'#'+${listRed.idListaRebajas} + 'ME'"><i class="fa-solid fa-pen-to-square"></i></button></td>
            <td class="text-center"><button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#'+${listRed.idListaRebajas}+'MD'"><i class="fa-regular fa-trash-can"></i></button></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="d-flex flex-row justify-content-end gap-2 px-5">


    <nav aria-label="Page navigation userList">
        <ul class="pagination justify-content-center color" th:if="${listRedPage.totalPages > 0}">
            <li th:each="pageNumber : ${pageNumbers}" class="page-item"><a class="page-link" th:href="@{/intranet/saleChangeList(size=${listRedPage.size}, page=${pageNumber}, searchKey=${searchKey})}" th:text="${pageNumber}"></a></li>
        </ul>
    </nav>
</div>


<!-- Modal Add Sale-->
<div  class="modal fade" id="ModallistRedAdd" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Sales Change</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/intranet/salechangelist/add}" method="post" th:object="${entity}" class="form-data">
                    <div class="mb-3">
                        <span>Change Date</span>
                        <input type="date" name="fechaCambio" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <span>Sales Price</span>
                        <input type="number" step="any" min="0" name="precioRebajas" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <span>Website</span>
                        <select name="cellingwebsite" class="form-select">
                            <option th:each="website : ${cellWebsites}" th:value="${website.idsellingWebsite}" th:text="${website.nombre}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <span>Product</span>
                        <select name="productos" class="form-select">
                            <option th:each="product : ${productos}" th:value="${product.idProductos}" th:text="${product.nombre}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <button type="submit" value="Register" class="btn btn-dark w-100 mt-5">Add Sales Change</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Sale-->
<div th:each="listRedME : ${listRedPage.content}" class="modal fade" tabindex="-1" th:id="${listRedME.idListaRebajas}+'ME'" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Sales Change</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/intranet/salechangelist/edit}" method="post" th:object="${entity}" class="form-data">
                    <input type="hidden" th:value="${listRedME.idListaRebajas}" name="idListaRebajas">
                    <div class="mb-3">
                        <span>Change Date</span>
                        <input type="date" name="fechaCambio" class="form-control" th:value="${listRedME.fechaCambio}"/>
                    </div>
                    <div class="mb-3">
                        <span>Sales Price</span>
                        <input type="number" step="any" min="0"  name="precioRebajas" class="form-control" th:value="${listRedME.precioRebajas}"/>
                    </div>
                    <div class="mb-3">
                        <span>Website</span>
                        <select name="cellingwebsite" class="form-select">
                            <option th:value="${listRedME.sellingwebsite.idsellingWebsite}" th:text="${listRedME.sellingwebsite.nombre}"></option>
                            <option th:each="website : ${cellWebsites}" th:if="${listRedME.sellingwebsite.idsellingWebsite != website.idsellingWebsite}" th:value="${website.idsellingWebsite}" th:text="${website.nombre}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <span>Product</span>
                        <select name="productos" class="form-select">
                            <option th:value="${listRedME.productos.idProductos}" th:text="${listRedME.productos.nombre}"></option>
                            <option th:each="product : ${productos}" th:if="${listRedME.productos.idProductos != product.idProductos}" th:value="${product.idProductos}" th:text="${product.nombre}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button type="submit" value="edit" class="btn btn-dark w-100 mt-5">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Delete Sale-->
<div th:each="listRedMD : ${listRedPage.content}" class="modal  fade" tabindex="-1" th:id="${listRedMD.idListaRebajas}+'MD'" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Sales</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/intranet/salechangelist/delete}" method="post" class="form-data">
                    <div class="mb-3">
                        <span>Do you really wanto to Delete this Sale of game?!</span>
                        <span class="bg-danger" th:text="${listRedMD.productos.nombre}"></span>
                        <input type="hidden" name="id" th:value="${listRedMD.idListaRebajas}">
                    </div>
                    <div class="mb-3">
                        <button type="submit" value="Delete" class="btn btn-dark w-100 mt-5" >Delete</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>