<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{head/head}">
</head>
<header th:replace="~{header/headerOne}"></header>
<body class="topspace">
<div class="gameScreenBox">
    <div class="gameBox">
        <img class="img" src="/img/Dying_Light_2_cover_art.jpg" alt="dying light">
        <div class="gameText">Nach längerer freiwilliger Aktion wurde das Fahren mit eingeschaltetem Licht am Tag in Österreich am 15. November 2005 verpflichtend eingeführt und 2007 auch per Strafe
            eingefordert. Zum 1. Januar 2008 wurde die Lichtpflicht allerdings wieder abgeschafft.[7] Ziel dieser Kampagne war es, die menschlichen Sinneseindrücke auf die Gefahrenquellen zu fokussieren und damit die Zahl der Verkehrstoten zu verringern.
            Schätzungen des Bundesministeriums zufolge wurden jährlich 15 Verkehrstote weniger erwartet. Allerdings zeigte sich nicht der erwartete Effekt, da vermehrt die Aufmerksamkeit von unbeleuchteten Gefahrenquellen (Hindernisse oder andere Verkehrsteilnehmer z. B. Fußgänger) weg zu den </div>
    </div>
    <div class="gameInfoBox">
        <div>Publicher</div>
        <div>Gerne</div>
        <div>"Estrellas"</div>
        <div>01/01/2020</div>
        <div>59,99€</div>
        <div>Pegi 16</div>
    </div>
    <div class="gameList">
        <div>website name(link)</div>
        <div>cahnge date</div>
        <div>precio de rebajas</div>
    </div>
    <div class="gameList">
        <div>website name(link)</div>
        <div>cahnge date</div>
        <div>precio de rebajas</div>
    </div>
    <div class="gameList">
        <div>website name(link)</div>
        <div>cahnge date</div>
        <div>precio de rebajas</div>
    </div>
    <div class="gameList">
        <div>website name(link)</div>
        <div>cahnge date</div>
        <div>precio de rebajas</div>
    </div>
    <div class="gameList">
        <div>website name(link)</div>
        <div>cahnge date</div>
        <div>precio de rebajas</div>
    </div>


</div>
</body>
<footer th:replace="~{footer/footerOne}"></footer>
</html>