<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head/head}">
</head>
<body>
<nav th:replace="~{/fragments/header/nav/navOne}"></nav>
<div class="container mt-4">
    <div class="d-flex flex-column justify-content-center gap-4">
        <div class="card">
            <div class="card-header" th:text="${product.nombre}">
            </div>
            <div class="card-img d-flex flex-row">
                <img class="img-fluid border border-dark border-2 rounded mt-2 mx-2" th:src="${product.photoProducto}" alt="dying light">
                <div class="container-fluid pt-2">
                    <div class="header"><h5>Video Game Data</h5></div>
                    <div class="d-flex flex-row gap-2">
                        <div class="title">Publicher Name:</div>
                        <div th:text="${product.publisher.nombre}"></div>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <div>Gerne Name</div>
                        <div th:text="${product.genre.nombre}"></div>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <div>Available in Region</div>
                        <div th:text="${product.region.nombre}"></div>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <div>Release Date</div>
                        <div th:text="${product.fechaSalida}"></div>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <div>Release price</div>
                        <div th:text="${product.precioSalida}"></div>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <div>Minimum Age</div>
                        <div th:text="${product.edadMinima}"></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="text-wrap" th:text="${product.descripcion}">
                    PRODUCT TEXT!
                </div>
            </div>
        </div>
        <div th:each="website : ${websites}" class="gameList">
            <a target="_blank" th:href="${website.cellingwebsite.link}"><div th:text="${website.cellingwebsite.nombre}"></div></a>
            <div th:text="${website.fechaCambio}"></div>
            <div th:text="${website.precioRebajas}"></div>
        </div>
        <div class="gameList">
            <h3 sec:authorize="!isAuthenticated()"> Login to add a review!</h3>
            <form th:action="@{/addReview}" method="post" th:object="${review}" sec:authorize="isAuthenticated()">
                <input type="text" name="reviewText" />
                <input type="hidden" name="product" th:value="${product.idProductos}">
                <select name="reviewRating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button type="submit">Send Review</button>
            </form>
        </div>

        <div th:each="rew :${reviews}" class="gameReviewList">
            <h1 th:text="${rew.user.nombre}"></h1>
            <hr class="userPerfilHR">
            <div th:text="${rew.reviewText}"></div>
            <div th:text="${rew.reviewRating}"></div>
        </div>

    </div>
</div>
</body>
<footer th:replace="~{/fragments/footer/footerOne}"></footer>
</html>