<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head/head}">
</head>
<body>
<nav th:replace="~{/fragments/header/nav/navOne}"></nav>
<div class="container mt-4">
    <div class="d-flex flex-column justify-content-center gap-4">
        <div class="card">
            <div class="card-header" th:text="${product.nombre}">
            </div>
            <div class="card-img d-flex flex-row">
                <img class="imge-prod border border-dark border-2 rounded mt-2 mx-2" th:src="${product.photoProducto}" th:alt="'Games Name: '+ ${product.nombre}">
                <div class="text-wrap" th:text="${product.descripcion}">
                    PRODUCT TEXT!
                </div>
            </div>
            <div class="card-body">
                <table class="table ">
                    <tbody>
                    <tr>
                        <th scope="row">Publicher Name</th>
                        <td th:text="${product.publisher.nombre}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Gerne Name</th>
                        <td th:text="${product.genre.nombre}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Available in Region</th>
                        <td th:text="${product.region.nombre}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Release Date</th>
                        <td th:text="${product.fechaSalida}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Release price</th>
                        <td th:text="${product.precioSalida}">nombre</td>
                    </tr>
                    <tr>
                        <th scope="row">Minimum Age</th>
                        <td th:text="${product.edadMinima}">nombre</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:each="website : ${websites}" class="card">
            <div class="card-header" th:text="${website.cellingwebsite.nombre}">
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
                <div>
                    <span>Fecha Cambio</span>
                    <div th:text="${website.fechaCambio.getDayOfMonth() + '/' + website.fechaCambio.getMonth().getValue() + '/' + website.fechaCambio.getYear()}"></div>
                </div>
                <div>
                    <span>Precio de Rebajas</span>
                    <div th:text="${website.precioRebajas} + ' €'"></div>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <a class="btn btn-outline-dark" target="_blank" th:href="${website.cellingwebsite.link}">Al descuento</a>
                </div>
            </div>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="'- '+${website.percentageRebajas}+' %'"></span>
        </div>
        <div class="card">
            <div class="card-header text-center">add Reviews</div>
            <h3 sec:authorize="!isAuthenticated()"> Login to add a review!</h3>
            <form th:action="@{/addReview}" method="post" th:object="${review}" sec:authorize="isAuthenticated()">
                <span>Review Text</span>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <textarea rows="5" cols="100" type="text" name="reviewText" class="form-text"></textarea>
                    <input type="hidden" name="product" th:value="${product.idProductos}">
                    <div class="d-flex justify-content-end  w-100 h-50">
                        <select name="reviewRating" class="form-select w-25 text-center">
                            <option value="1">&#xf005;</option>
                            <option value="2">&#xf005; &#xf005;</option>
                            <option value="3">&#xf005;&#xf005;&#xf005;</option>
                            <option value="4">&#xf005;&#xf005;&#xf005;&#xf005;</option>
                            <option value="5">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</option>
                        </select>
                        <button type="submit" class="btn btn-outline-dark ">Send Review</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="card">
            <div class="card-header">Reviews</div>
            <div th:if="${reviews.size() < 1}" class="card-body border"> <h1 class="text-center">There are no reviews to this Product!</h1></div>
            <div th:each="rew :${reviews}" th:if="${reviews.size() >= 1}" class="card-body border ">
                <div class="card-title">
                    <span>Nombre:</span>
                    <div th:text="${rew.user.nombre}"></div>
                </div>
                <hr class="userPerfilHR">
                <div th:text="${rew.reviewText}"></div>
                <div th:text="${rew.reviewRating}"></div>
                <div class="d-flex justify-content-end" th:if="${rew.user.email} == ${#authentication.name}">
                    <form th:action="@{/removereview}" method="post">
                        <input type="hidden" th:value="${rew.idReview}" name="idR">
                        <button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-xmark"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="~{/fragments/footer/footerOne}"></footer>
</html>