<nav th:fragment="navOne" class="nv1">
  <a th:href="@{/index}" class="btn">Logo</a>
  <div class="searchDiv"><input type="text" placeholder="Search" class="search" /></div>
  <div class="dropdown">
    <button class="dropbtn"><i class="fa-sharp fa-solid fa-ellipsis"></i></button>
    <div class="dropdown-content">
      <a th:href="@{/user}" class="btnDropDown"><i class="fa-sharp fa-solid fa-user"></i></a>
      <form th:action="@{/logout}" method="post" >
        <button class="btnDropDown" type="submit"><i class="fa-sharp fa-solid fa-xmark"></i></button>
      </form>
      <a href="#" class="btnDropDown"></a>
    </div>
  </div>
</nav>
