@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap');

*{
    font-family: 'Nunito', "FontAwesome", sans-serif;
}

.userPerfilHR{
    border: 1px solid black;
    height: 0.5vh;
    width: 96%;
}

.notiDiv{
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-name: notiDivAnim;
}


.primeColor{
    background-color: #9133af;
}


/* target devices is PC big screens */
.imge-prod{
    width: auto;
    height: 35VH;
}
.imge-index{
    width: auto;
    height: 40VH;
}

/* target devices with small screens usually mobile devices */
@media screen and (max-width: 479px) {
    .imge-prod {
        width: auto;
        height: 20vh;
    }
    .contTable{
        font-size: x-small;
    }
}

/* CSS animation for the Messages */
@keyframes notiDivAnim {
    0%{opacity: 1;}
    50%{opacity: 1; z-index: 1;}
    75%{z-index: 1;}
    100% {opacity: 0; z-index: -1;}
}

