@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}
.topspace{
    margin-top: 6vh;
    margin-left: 0;
}

/* Everything of the Header and navbar */
.hd1{
    margin: 0;
}
.nv1{
    display:flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #240047;
}

/* everything of the Footer */
.foot1{
    background-color: #240047;
    width: 100vw;

}

/* general Button */
.btn{
    display: inline;
    padding: 16px;
    font-size: 16px;
    color: white;
    cursor:pointer;
    text-decoration: none;
}
.btn:hover{
    background-color: #bd0d59;
    user-focus-pointer: true;
}

/* search element in NavBar */
.search{
    border-radius: 50px;
    width: 80%;
    border: 2px solid black;
    background-color: white;
    display: inline;
    text-align: center;
    font-size: 16px;
    margin: 6px;
}
.searchDiv{
    display: flex;
    justify-content: left;
    width: 40%;
    height: auto;
}

/* Index picture boxes/cards */
.imgBoxs{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
    width: 100%;
    top: 0;
}
.imgbox{
    width: fit-content;
    padding: 1vh;
    background-color: #00a9d4;
    border: 1px solid black;
    text-align: center;

}
.img{
    height: auto;
    width: auto;
}

/* everything for the Dropdown Menu in the Nav bar */
.dropbtn {
    background-color: #240047;
    width: 50px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    overflow: auto;
    position: absolute;
    width: 50px;
    background-color: #efefef;
    padding: 1%;
    z-index: 1;
    right: 0;
}
.btnDropDown {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: black; /* White text color */
    font-size: 20px; /* Increased font-size */
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btnDropDown:hover {
    background-color: white; /* Add a hover color */
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #bd0d59;
}

/*Spring security Css Data*/
.screenBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 0;
}
.loginBox{
    margin: 5vh;
    padding: 5vh;
    padding-top: 1vh ;
    width: fit-content;
    text-align: center;
    border: 1px solid black;
    border-radius: 24px;
}
.registerBox{
    margin: 5vh;
    padding: 5vh;
    padding-top: 1vh ;
    width: 25%;
    text-align: center;
    border: 1px solid black;
    border-radius: 24px;
}

/* Button to add to favorit list */
.btnFav{
    font-size: 32px;
    padding: 4px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    color: black;
    cursor:pointer;

}
.btnFav:hover{
    background-color: #028faf;
}

/* Logout and error message Div */
.message{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.notiDiv{
    z-index: 1;
    width: fit-content;
    background-color: red;
    padding: 16px;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-name: notiDivAnim;
}


/* Div for the content od the Game site. */
.gameScreenBox{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.gameBox{
    width: 65vw;
    background-color: red;
    display: flex;
    justify-content: left;

}
.gameText{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    word-wrap: break-word;

}
.gameInfoBox{
    width: 65vw;
    height: 5vh;
    background-color: #40ffdc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.gameList{
    width: 65vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


/* change direction of the imgBoxs */
@media (max-width: 35em){
    .imgBoxs{
        padding-top: 2vh;
    }
    .gameBox{
        width: 100vw;
        height: 45vh;
    }
    .gameText{
        font-size: 12px;
    }
    .gameInfoBox{
        width: 100vw;
        font-size: 12px;
    }
}
@keyframes notiDivAnim {
    0%{opacity: 1;}
    50%{opacity: 1; z-index: 1;}
    75%{z-index: 1;}
    100% {opacity: 0; z-index: -1;}
}

/* Colors for the page */
.color6 { color: #bd0d59}
.color1 { color: #40ffdc }
.color2 { color:#00a9d4 }
.color3 { color:#1c3166 }
.color4 { color:#240047 }
.color5 { color:#1c0021 }