<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{head/head}">
    <title>Index</title>
</head>
<header th:replace="~{header/headerOne}"></header>
<body class="topspace">
    <div class="imgBoxs">
        <div class="imgbox">
            <img class="img" src="/img/Dying_Light_2_cover_art.jpg" alt="Dyinglight">
            <p>Dying light 2 </p>
            precio<div class="btnFav"><i class="fa-sharp fa-solid fa-heart-circle-plus"></i></div>
        </div>
        <div class="imgbox">
            <img class="img" src="/img/Dying_Light_2_cover_art.jpg" alt="Dyinglight">
            <p>precio</p>
        </div>
        <div class="imgbox">
            <img class="img" src="/img/Dying_Light_2_cover_art.jpg" alt="Dyinglight">
            <p>precio</p>
        </div>
        <div class="imgbox">
            <img class="img" src="/img/Dying_Light_2_cover_art.jpg" alt="Dyinglight">
            <p>precio</p>
        </div>
        <div class="imgbox">
            <img class="img" src="/img/Dying_Light_2_cover_art.jpg" alt="Dyinglight">
            <p>precio</p>
        </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>
<footer th:replace="~{footer/footerOne}"></footer>
</html>