<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{/fragments/head/head}">
</head>
<header th:replace="~{/fragments/header/headerOne}"></header>
<body class="topspace">
    <div class="imgBoxs">
        <div class="imgbox" th:each="product : ${products}">
            <a th:href="@{/product/{id}(id=${product.idProductos})}"><img class="img" th:src="${product.photoProducto}" th:alt="${product.nombre}"></a>
            <p th:text="${product.nombre}"></p>
            <p th:text="${product.precioSalida}"></p><div class="btnFav"><i class="fa-sharp fa-solid fa-heart-circle-plus"></i></div>
        </div>

    </div>

</body>
<footer th:replace="~{/fragments/footer/footerOne}"></footer>
</html>